*{
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url('../img/background.png');
    font-family: Noto Sans Bengali;
  }

.bodywrap{
    position: relative;
    margin: 0 auto;
    padding: 0;
    text-align: left;
    background-color: #ffffff;
    width: 960px;
    border-left: 20px solid #ffffff;
    border-right: 20px solid #ffffff;
    border-radius: 0px;
    box-shadow: 0px 0px 15px 0px #737272;
}

.header{
    height: 220px;
    margin: 0 0 0 0;
    width: 920px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    background: #06A3FF;
    background: -webkit-linear-gradient(#FFFFFF, #06A3FF);
    background: -o-linear-gradient(#FFFFFF, #06A3FF);
    background: -moz-linear-gradient(#FFFFFF, #06A3FF);
    background: linear-gradient(#FFFFFF, #06A3FF);
}

.headerLogo{
    text-align: left;
    top: 35px;
    left: 50px;
    position: absolute;
}

.headerTitle{
    text-align: left;
    top: 135px;
    left: 50px;
    position: absolute;
}

.headerTitleText{
    font-family: Noto Sans Bengali;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 2px #000000, 3px 3px 2px #000000;
}
.menubar{
    /* margin: 10px 0px 10px 0px; */
}

nav{
    margin: 0px;
    padding: 0px;
}

.navCon{
    background: linear-gradient(#F0F0F0, #FFFFFF);
}

.navbar ul{
    width: 100%;
    border-top: 1px dotted #CCCCCC;
    border-bottom: 1px dotted #CCCCCC;
    padding-left: 0px;
    padding-right: 0px;
}


.navbar ul li a{
    font-family: 'Noto Sans Bengali', sans-serif;
    font-size: 14px;
    font-weight:600;
    border-right:1px dotted #cccccc;
}

.section-1{
    margin-top: 5px;
    margin-bottom: 5px;
    

}

.sec-1-left{
    background: linear-gradient(#F0F0F0, #FFFFFF);
    border: 1px dotted #CCCCCC;
    float: left;
}

.heading{
    font-weight: bold;
    font-size: 14px;
    color: #000000;
}

.sec-1-left a{
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    color: blueviolet;
    margin-left: 30px;
    font-family: 'Noto Sans Bengali', sans-serif;
}

.sec-1-left a:hover{
    color: rgb(34, 34, 255);
}

.sec-1-left input, .sec-2-left input{
    float: right;
    /* padding: 10px 10px 10px 0px; */
    font-family: Noto Sans Bengali;
    font-size: 10pt;
    font-weight: normal;
    text-align: center;
    color: #000000;
    cursor: pointer;
    padding: 0px 0px 0px 0px;
    height: 25px;
    width: 50px;
    border: 1px solid #CCCCCC;
    background-color: #CCCCCC;
}

.section-2{
    margin-top: 10px;
}

.sec-2-left{
    background: linear-gradient(#F0F0F0, #FFFFFF);
    border: 1px dotted #CCCCCC;
    float: left;
}

.notice a{
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Noto Sans Bengali', sans-serif;
    border-bottom: 1px dotted #cccccc;
}